<div class="row justify-content-center">
    <div class="col-10 col-md-6 col-xl-4">
        <p class="text-center fs-2"><u>我們的願景</u></p>
        <ul>
            <li class="fs-4">Virtual law firm</li>
            <li class="fs-4">以科技融合法律服務令到大眾均能理解基本法律認知</li>
        </ul>
    </div>
</div>