{% if menu %}
	<ul class="navbar-nav">
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }} nav-item" style="margin-left:50px;">
			<a class="nav-link" style="color:green;" target="{{ item.target }}" href="{{ item.link }}"><strong>{{ item.title }}</strong></a>
			{% include "menu.twig" with {'items': item.children} %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
