{% extends "login.twig" %}
{% block title %}
<span class="fs-4" style="color:#545454;"><strong>團體登入</strong></span>
{% endblock %}
{% block loginButton %}
<button type="submit" style="background-color:#E6F7F5; color:#545454;" class="btn mt-5 loginButton">登入</button>
{% endblock %}