{% extends "base.twig" %}

{% block content %}
<script>
//console.log($.cookie());

/*
var cookies = $.cookie();
for(var cookie in cookies) {
    $.removeCookie(cookie);
}
*/

var getSlideTemplate = function (){
  var html = $("template.slide").html();
  return $(html).clone();
}

var getQuestionTemplate = function (){
  var questionhtml = $("template.question").html();
  return $(questionhtml).clone();
}

var getAnswerTemplate = function (){
  var html = $("template.answer").html();
  return $(html).clone();
}

var containerCount = 1;
var questionCount = 1;

$(function() {
    $.getJSON('http://127.0.0.1/wordpress/wp-content/uploads/2021/06/form.json', function(data) {
        $( "#container" ).addClass( "container-" + containerCount);
        var slideTemp = getSlideTemplate();
        var questionTemp;
        var answersTemp;
        var titleHtml = "";
        var questionHtml = "";
        var answerHtml = "";
        slideTemp.find(".title").text(data.title.text + "----" + data.sections[0].section_title);
        titleHtml += slideTemp[0].outerHTML
        $(".carousel-inner").append(titleHtml);
        $.each(data.sections[0].questions, function(index, questionDetails) {
            questionTemp = getQuestionTemplate();
            questionTemp.find(".question-index").text(questionDetails.question_id + ") "+ questionDetails.question);
            questionHtml += questionTemp[0].outerHTML
            $( ".container-" + containerCount ).append(questionHtml);
            questionHtml = "";
            $.each(questionDetails.options, function(ind, answers) {
                answersTemp = getAnswerTemplate();
                answersTemp.find(".answer-text").text(answers);
                answerHtml += answersTemp[0].outerHTML
                $( ".radio-margin" ).append(answerHtml);
                answerHtml = "";
            });
        });
        containerCount++;
    });
});
</script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-xl-10">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <template class="slide">
                        <div class='carousel-item active'>
                            <div id='container'>
                                <div class='row justify-content-center'>
                                    <div class='col-9 col-md-9 col-xl-8 bg-white shadow p-4' style='border-radius:30px;'>
                                        <strong class='fs-2 white-bg-title title'></strong><!--title-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template id='question' class="question">
                        <div class='tab row justify-content-center mt-5'>
                            <div class='col-9 col-md-9 col-xl-8 bg-white shadow p-4 white-bg-content' style='border-radius:30px;'>
                                <p><strong class='fs-5 question-index'></strong></p> <!--question-index-->
                                <div class='radio-margin'>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template id='answer' class = "answer">
                        <div class='form-check'>
                            <input class='form-check-input radio-style answer-details' type='radio'> <!--answer details-->
                            <label class='form-check-label' for='flexRadioDefault1'>
                                <strong class='fs-5 answer-text'></strong> <!--answer text-->
                            </label>
                            <input type='text' class='form-control h-75 pr-0 py-1 input-style input-answer'> <!--input answer-->
                        </div>
                    </template>
                </div>
                <div class="mt-5" style="float:right;">
                    <a href="#carouselExampleControls" style="text-decoration:none;" role="button" data-slide="prev" id="prev">
                        <button type="button" class="btn btn-success">上一題</button>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a href="#carouselExampleControls" style="text-decoration:none;" role="button" data-slide="next" id="next">
                        <button type="button" class="btn btn-success">下一題</button>                    
                        <span class="sr-only">Next</span> 
                    </a>
                    <a href="#carouselExampleControls" style="text-decoration:none;" role="button" data-slide="next" id="submit">
                        <button type="button" class="btn btn-success">提交</button>                    
                        <span class="sr-only">Submit</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

