{% extends "base.twig" %}
{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-xl-3 shadow p-3 mb-5 bg-white" style="margin-top:100px; border-radius:30px;">
                <div class="container" style="margin-top:50px;">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-xl-10 text-center">
                            <span class="material-icons" style="font-size:212px; color:#0fa682;">task_alt</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-xl-12" style="margin-left:20px;">
                            <p class="text-center fs-1" style="color:#0fa682;">登記完成！</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-xl-12">
                            <p class="text-secondary text-center"><a>5秒後自動轉至下一頁面</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}