{% extends "base.twig" %}
{% block content %}
<div class="container mt-3">
    {% include './law_rows/law-heading-1.twig' %}
</div>
<div class="container mt-5">
    {% include './law_rows/law-post-2.twig' %}
</div>
{% endblock %}