{% extends "base.twig" %}

{% block content %}
<div class="container-fluid" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzjKMUuJcow_twOB9j9_p3AHRrJlgG-FC9oQ&usqp=CAU');">
	<div class="container">
		{% include './about_rows/intro-1.twig' %}
	</div>
    <div class="container" style="margin-top:120px;">
		{% include './about_rows/wish-2.twig' %}
	</div>
    <div style="margin-top:120px;">
		{% include './about_rows/award-3.twig' %}
	</div>
    <div style="margin-top:120px;">
		{% include './about_rows/interview-4.twig' %}
	</div>
    <div style="margin-top:120px;">
		{% include './about_rows/activities-5.twig' %}
	</div>
</div>
{% endblock %}