{% extends "base.twig" %}

{% block content %}
<div class="container-fluid">
	<div class="container mt-3">
		{% include './about_rows/intro-1.twig' %}
	</div>
    <div class="container mt-5">
		{% include './about_rows/wish-2.twig' %}
	</div>
    <div class="mt-5">
		{% include './about_rows/award-3.twig' %}
	</div>
    <div class="mt-5">
		{% include './about_rows/interview-4.twig' %}
	</div>
    <div class="mt-5">
		{% include './about_rows/activities-5.twig' %}
	</div>
</div>
{% endblock %}