{% extends "login.twig" %}
{% block title %}
<span class="fs-4"><strong>個人登入</strong></span>
{% endblock %}
{% block loginButton %}
<button type="submit" class="btn btn-success mt-5" style="padding-left: 110px; padding-right:110px">登入</button>
{% endblock %}