{% extends "base.twig" %}

{% block content %}


<div class="container-fluid" style="background-image: url('https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg'); height: 100vh;">
	<div class="container">
		<div class="row">
			{{post.content}}
		</div>
	</div>
</div>
{% endblock %}
