{% extends "base.twig" %}

{% block content %}
<script>
var cookies = $.cookie();
console.log($.cookie());
var suggestions = [];
var html = "";
var firstContainer = true;

function getSuggestions(obj){
    //console.log(obj)
    for(var i in obj){
        //console.log(obj[i].condition)
        var conditionMatch = true;
        //suggestions.push(obj[i].text)
        try{
            $.each(obj[i].condition, function(conditionIndex, conditions) {
                if (conditions.indexOf(";") >= 0){ //match more than one conditions
                    var multiConditions = conditions.split(";");
                    try{
                        $.each(multiConditions, function(multiConditionsIndex, multiCondition) {
                            if($.cookie(multiCondition.charAt(0))){
                                var condition = multiCondition.charAt(0) + "==" + $.cookie(multiCondition.charAt(0))
                                if(multiCondition == condition){
                                    conditionMatch = true;
                                    //console.log(condition)
                                    //console.log("condition match" + conditionMatch);
                                } else {
                                    conditionMatch = false;
                                    throw Error();
                                }
                            } else {
                                conditionMatch = false;
                                throw Error();
                            }
                        });
                    } catch (e) {}
                } else { //match one condition 
                    if($.cookie(conditions.charAt(0))){
                        var condition = conditions.charAt(0) + "==" + $.cookie(conditions.charAt(0))
                        if(conditions == condition){
                            //console.log("condition match" + conditions);
                        } else {
                            conditionMatch = false;
                        }
                    } else if(conditions == "true"){
                        //console.log("True: " + conditions)
                        conditionMatch = true;
                    } else {
                        //console.log("No match: " + conditions)
                        conditionMatch = false;
                    }
                }
                if(conditionMatch){
                    throw Error();
                }
            });
        } catch (e){}
        if(conditionMatch){
            if(obj[i].layer == 0){ //check advices in which layer
                if(firstContainer){
                    firstContainer = false;
                    suggestions.push("<div class = 'col shadow' style='background-color:white; padding:10px;'>" + "<h4 class='white-bg-title'>" + obj[i].text + "</h4>" + "<ul>")
                    //console.log("<div class = 'col-3' style='background-color:white; height:500px;'>" + obj[i].text)
                } else {
                    suggestions.push("</ul></div><div class = 'col shadow' style='background-color:white; padding:10px; margin-left:10px'>" + "<h4 class='white-bg-title'>" + obj[i].text + "</h4>" + "<ul>")
                    //console.log("</div><div class = 'col-3' style='background-color:white; height:500px;'>" + obj[i].text)
                }
            } else if (obj[i].layer == 1){
                suggestions.push("<li class='white-bg-content'>"+obj[i].text+"</li>")
            } else {
                //count = 0;
                //while(count < obj[i].layer){
                suggestions.push("<li")
                suggestions.push(" style='margin-left:"+15*obj[i].layer+"px;' class='white-bg-content'>") //calculate margin by layer number
                    //count++
                //}
                suggestions.push(obj[i].text+"</li>")
            }
            //suggestions.push(obj[i].text)
            getSuggestions(obj[i].points) //recursion
        } 
    }
}

$(function (){
    $.getJSON("{{ site.theme.link }}/static/form.json", function(data) {
        getSuggestions(data.advice)
        $.each(suggestions, function(htmlIndex, codes) {
            html+=codes
        });
        html+="</ul></div>"
        //console.log(html)
        //console.log(suggestions)
        $( "#suggestionRow" ).append(html);
    });
});
</script>
<div class="container mt-5">
    <div class="row justify-content-between" id="suggestionRow">
    </div>
</div>
{% endblock %}
