{% extends "base.twig" %}

{% block content %}
<script>
console.log($.cookie());
/*
var cookies = $.cookie();
for(var cookie in cookies) {
    $.removeCookie(cookie);
}
*/
//Show first question
$(function() {
    var html = "";
    $.cookie("oldSection",["sectionA"]);
    $.getJSON('http://127.0.0.1/wordpress/wp-content/uploads/2021/06/form.json', function(data) {
        $.each(data.form.sectionA, function(index, items) {
            html+="<div class='tab row justify-content-center mt-5'>";
            html+="<div class='col-9 col-md-9 col-xl-8 bg-white shadow p-4 white-bg-content' style='border-radius:30px;'>";
            html+="<p><strong class='fs-5'>"+items.questionIndex+") "+items.question+"</strong></p>";
            html+="<div class='radio-margin'>";
            $.each(items.answer, function(answerIndex, answers) {
                html+="<div class='form-check'>";
                html+="<input class='form-check-input radio-style' type='radio' name='"+items.questionIndex+"' id='"+answers.txt+"' value='"+answers.next+"'>";
                html+="<label class='form-check-label' for='flexRadioDefault1'>";
                html+="<strong class='fs-5'>"+answers.txt+"</strong>";
                html+="</label>";
                if(answers.inputField){
                    //html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' style='border:none;' id='other' name='other'>"
                    html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' id='"+items.questionIndex+"_"+answers.txt+"'>";
                }
                html+="</div>";
                if(answers.supplementaryAnswer){
                    $.each(answers.supplementaryAnswer, function(supplementaryAnswerIndex, supplementaryAns) {
                        html+="<div class='form-check form-checkbox radio-margin'>"
                        html+="<input class='form-check-input radio-style' type='checkbox' id='"+supplementaryAns.txt+"' value='"+supplementaryAns.next+"'>"
                        html+="<label class='form-check-label' for='flexCheckDefault'>"
                        html+="<strong>"+supplementaryAns.txt+"</strong>"
                        html+="</label>"
                        if(supplementaryAns.inputField){
                            //html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' style='border:none;' id='other' name='other'>"
                            html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' id='"+items.questionIndex+"_"+answers.txt+"_"+supplementaryAns.txt+"'>";
                        }
                        html+="</div>"
                    });
                }
                //console.log(answers.txt)
            });
            html+="</div></div></div>";
        });
        //console.log(html)
        $( "#question" ).append(html);
    });
});

$(function(){
    $('#carouselExampleControls').delegate("#next","click", function(){
        var newSection = "";
        var sectionCreated = false;
        var finalSection = false;
        //console.log($.cookie('oldSection'))
        $('input:checked', '#question').each(function() {
            $.cookie($(this).attr('name'), $(this).attr('id')); //cookie(name, value)
            newSection = $(this).val();
            if (newSection == null){
                finalSection = true;
            }
        });
        var html = "";
        var existedSection = $.cookie("oldSection").split(",");
        $.each(existedSection, function(ind, val) {
            if (newSection == val){
                sectionCreated = true;
            }
        });
        if (!sectionCreated){
            $.getJSON('http://127.0.0.1/wordpress/wp-content/uploads/2021/06/form.json', function(data) {
                html += "<div class='carousel-item'>";
                html += "<div class='container'>";
                $.each(data.form[newSection], function(index, items) {
                    html+="<div class='tab row justify-content-center mt-5'>";
                    html+="<div class='col-9 col-md-9 col-xl-8 bg-white shadow p-4 white-bg-content' style='border-radius:30px;'>";
                    html+="<p><strong class='fs-5'>"+items.questionIndex+") "+items.question+"</strong></p>";
                    html+="<div class='radio-margin'>";
                    $.each(items.answer, function(answerIndex, answers) {
                        html+="<div class='form-check'>";
                        html+="<input class='form-check-input radio-style' type='radio' name='"+items.questionIndex+"' id='"+answers.txt+"' value='"+answers.next+"'>";
                        html+="<label class='form-check-label' for='flexRadioDefault1'>";
                        html+="<strong class='fs-5'>"+answers.txt+"</strong>";
                        html+="</label>";
                        if(answers.inputField){
                            //html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' style='border:none;' id='other' name='other'>"
                            html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' id='"+items.questionIndex+"_"+answers.txt+"'>";
                        }
                        html+="</div>";
                        if(answers.supplementaryAnswer){
                            $.each(answers.supplementaryAnswer, function(supplementaryAnswerIndex, supplementaryAns) {
                                html+="<div class='form-check form-checkbox radio-margin'>"
                                html+="<input class='form-check-input radio-style' type='checkbox' id='"+supplementaryAns.txt+"' value='"+supplementaryAns.next+"'>"
                                html+="<label class='form-check-label' for='flexCheckDefault'>"
                                html+="<strong>"+supplementaryAns.txt+"</strong>"
                                html+="</label>"
                                if(supplementaryAns.inputField){
                                    //html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' style='border:none;' id='other' name='other'>"
                                    html+="<input type='text' class='form-control h-75 pr-0 py-1 input-style' id='"+items.questionIndex+"_"+answers.txt+"_"+supplementaryAns.txt+"'>";
                                }
                                html+="</div>"
                            });
                        }
                        //console.log(answers.txt)
                    });
                    html+="</div></div></div>";
                });
                if(finalSection){
                    //html+= submitButton <!----------------------------Here
                }
                html+= "</div></div>";
                $( ".carousel-inner" ).append(html);
                $.cookie('oldSection', $.cookie('oldSection') + ","+newSection);
            });
        }
        //console.log($('input:checked', '#question').attr('id'));

        //var questionID = $(this).attr('id');
        /*
        var next = $('input[name=radio]:checked', '#question').val();
        $.getJSON('http://127.0.0.1/wordpress/wp-content/uploads/2021/06/form.json', function(data) {
            $.each(data.form, function(index, item) {
                $.each(item, function(ind, val) {
                    //console.log(ind);
                    if(ind == next){
                        $( "#question" ).append(
                            `
                            <p><strong class='fs-5'>`+ind+`) `+val.question+`</strong></p>
                            <div class='radio-margin'>
                            `
                        );
                        $.each(val.answer, function(i, v) {
                            $( "#question" ).append(
                                `
                                <div class='form-check'>
                                    <input class='form-check-input radio-style' type='radio' name='radio' id='`+i+`' value='`+v.next+`'>
                                    <label class='form-check-label' for='flexRadioDefault1'>
                                    <strong class='fs-5'>`+v.txt+`</strong>
                                    </label>
                                </div>
                                `
                            );
                        });
                        //console.log(val.question);
                        //console.log(val.answer);
                    }
                });
            });
            $( "#question" ).append(
                `</div>`
            );
        });*/
    });
});
/*$(function() {
    $.getJSON('http://127.0.0.1/wordpress/wp-content/uploads/2021/06/form.json', function(data) {
        $.each(data.form, function(index, item) {
            $.each(item, function(ind, val) {
                //console.log(ind)
                //console.log(val.question);
                $.each(val.answer, function(i, v) {
                    console.log(v.txt);
                    if(v.checkbox){
                        $.each(v.checkbox, function(a, checkboxVal) {
                            if(checkboxVal.txt){
                                $.each(checkboxVal, function(b, c) {
                                    console.log(c);
                                });
                            } else {
                                console.log(checkboxVal);
                            }
                        });
                    }
                    if(v.input){

                    }
                });
            });
        });
    });
});*/
</script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-xl-10">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container" id="question">
                            <div class="row justify-content-center">
                                <div class="col-9 col-md-9 col-xl-8 bg-white shadow p-4" style="border-radius:30px;">
                                    <strong class="fs-2 white-bg-title">離婚事宜</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" id="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span> <!--Change to button later-->
                    <span class="sr-only">Next</span> <!--Change to button later-->
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
