{% extends "login.twig" %}
{% block title %}
<span class="fs-4" style="color:#545454;"><strong>個人登入</strong></span>
{% endblock %}
{% block loginButton %}
<button type="submit" style="background-color:#406E68; color:white;" class="btn mt-5 loginButton">登入</button>
{% endblock %}