{% extends "base.twig" %}

{% block content %}
    <div class="container" style="margin-top:50px;">
        <div class="row justify-content-between">
            <div class="col-12 col-md-3 col-xl-3 bg-light" style="height:530px;">
                <div class="container" style="margin-top:30px;">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p><img src="https://image.flaticon.com/icons/png/512/16/16995.png" alt="" width="50" height="auto" class="d-inline-block align-text-top"></p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p><strong class="fs-5">Normal Plan</strong></p>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p>Normal Plan</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p>Normal Plan</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p>Normal Plan</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p>Normal Plan</p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p>Normal Plan</p>
                        </div>
                    </div>
                    <br/>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <p><strong class="fs-1">$24</strong></p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-success btn-sm" style="border-radius:10px; padding-left:15px; padding-right:15px;">Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-xl-3" style="background-color:#ccffef; height:500px;"></div>
            <div class="col-12 col-md-3 col-xl-3" style="background-color:#00e69d; height:500px;"></div>
        </div>
    </div>
{% endblock %}
