<div class="row">
    <div class="col-12">
        <div class="container">
            <div class="row" style="border-style: solid; border-color: #818181;">
                <div class="col-12">
                    <p class="border-bottom border-white green-bg-content">
                        <span><strong>XXXXXXXXXXXXXXXXXXX</strong></span>
                        <span style="float:right;"><strong>2021-5-21</strong></span>
                    </p>
                    <p class="text-break green-bg-content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum congue metus vel volutpat. Maecenas tincidunt tempor urna vitae vehicula. Aenean ut risus luctus, elementum magna a, sodales lectus. Maecenas arcu mauris, ultricies a diam quis, faucibus finibus augue. Donec neque ipsum, ultrices vitae viverra nec, blandit a turpis. Proin posuere molestie lorem, sed laoreet tellus sagittis ut. Integer sed aliquet ipsum. Nam commodo, ligula vel bibendum mattis, ipsum purus eleifend nibh, id feugiat ex lorem ac felis. Quisque tincidunt dui sed ultrices sollicitudin. Nulla facilisi. Pellentesque ac malesuada diam. Quisque finibus et magna at vulputate. Morbi tincidunt interdum felis eu lacinia. Aenean placerat ac ex vel bibendum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>