<div class="row">
    <div class="col-9 col-md-10 col-xl-10">
        <div class="input-group">
            <input type="text" class="form-control input-style law-search" placeholder="搜尋" id="InputSearchLaw1" aria-label="搜尋" aria-describedby="basic-addon2">
            <div class="input-group-append">
            <button class="btn btn-outline-secondary border-1 law-search input-style" type="button">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </button>
            </div>
        </div>
    </div>
    <div class="col-3 col-md-2 col-xl-2">
        <form>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle law-filter-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">以時間排序</a></li>
                    <li><a class="dropdown-item" href="#">以關鍵字排序</a></li>
                    <li><a class="dropdown-item" href="#">以      排序</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12 col-md-12 col-xl-10">
        <table class="green-bg-content" style="width:100%;">
            <tr>
                <td></td>
                <td>婚姻</td>
                <td></td>
                <td>土地</td>
                <td></td>
                <td>大廈管理</td>
                <td></td>
                <td>刑事</td>
                <td></td>
                <td>法律科技</td>
                <td></td>
                <td>法律制度</td>
            </tr>
            <tr>
                <td>新聞時事</td>
                <td></td>
                <td>交通意外</td>
                <td></td>
                <td>法律援助</td>
                <td></td>
                <td>人身傷亡</td>
                <td></td>
                <td>僱傭</td>
                <td></td>
                <td>創業事宜</td>
                <td></td>
                <td>私隱條例</td>
            </tr>
            <tr>
                <td></td>
                <td>動物權益</td>
                <td></td>
                <td>網上騙案</td>
                <td></td>
                <td>移民須知</td>
                <td></td>
                <td>海外投資</td>
                <td></td>
                <td>知識產權</td>
                <td></td>
                <td>消費者權益</td>
            </tr>
        </table>
    </div>
</div>