<div class="row justify-content-center g-0">
    <div class="col-6 col-md-5 col-xl-3 my-5 text-center">
        <div class="shadow bg-white h-100 w-100 py-5" align="center">
            <p class="fs-1 choosing-2-title"><strong>選擇範疇</strong></p>
            <p class="fs-6 choosing-2-text"><strong>你選擇所需範疇，Lecopt提供相關資料。</strong></p>
            <div style="display:flex;" class="my-5 px-5">
                <select class="form-select choosing-2-select" aria-label="Default select example" style="flex:1; margin-right:5%">
                    <option selected class="choosing-2-select">選擇範疇</option>
                    <option value="localhost/trafficForm" class="choosing-2-select"><strong>交通意外</strong></option>
                    <option value="localhost/divorceForm" class="choosing-2-select"><strong>離婚事宜</strong></option>
                    <option value="localhost/landForm" class="choosing-2-select"><strong>大廈管理</strong></option>
                    <option value="localhost/animalForm" class="choosing-2-select"><strong>動物權益</strong></option>
                    <option value="localhost/businessForm" class="choosing-2-select"><strong>創業事宜</strong></option>
                    <option value="#" class="choosing-2-select"><strong>其他問題</strong></option>
                </select>
                <button class="pt-2 w-25 border-0" id="search-button" style="background-color:#7FD5CA;"><i class="fas fa-search" style="color:white; font-size:24px;"></i></button>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-5 col-xl-3 my-5 text-center">
        <img class="w-100 h-100 shadow" src="{{ site.theme.link }}/static/pics/choosing-2-1.png">
    </div>
</div>
<script>
$( "#search-button" ).click(function(){
    var selectedFrom = $(".form-select").children("option:selected").val();
    window.location.replace(selectedFrom);
});
</script>