<div class="row">
    <div class="col-12">
        <p class="text-break"><strong class="fs-1" style="color:white;">#正式開展法律程序前，做好基本準備，節省更多金錢和時間！</strong></p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-xl-10">
        <form>
            <div class="shadow p-3 mb-5 bg-white" style="height: 250px;">
                <p class="text-center fs-1 white-bg-title"><strong>選擇範疇</strong></p>
                <p class="text-center fs-5 white-bg-content"><strong>選擇所需範疇，讓我們提供相關服務</strong></p>
                <br/>
                <div class="dropdown text-center">
                    <button class="btn dropdown-toggle dropdown-style" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong class="fs-6">選擇範疇</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/trafficForm"><strong>交通意外</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/divorceForm"><strong>離婚事宜</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/landForm"><strong>大廈管理</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/animalForm"><strong>動物權益</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/businessForm"><strong>創業事宜</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="#"><strong>其他問題</strong></a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
