<div class="row">
    <div class="col-12">
        <p class="text-break"><strong class="fs-1">#正式開展法律程序前，做好基本準備，節省更多金錢和時間！</strong></p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-xl-10">
        <form>
            <div style="background-color:white; height: 250px;">
                <p class="text-center fs-2" style="color:#36c29f;"><strong>選擇範疇</strong></p>
                <p class="text-center">選擇所需範疇，讓我們提供相關服務</p>
                <br/>
                <div class="dropdown text-center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        選擇範疇&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">交通意外</a></li>
                        <li><a class="dropdown-item" href="#">離婚事宜</a></li>
                        <li><a class="dropdown-item" href="#">大廈管理</a></li>
                        <li><a class="dropdown-item" href="#">動物權益</a></li>
                        <li><a class="dropdown-item" href="#">創業事宜</a></li>
                        <li><a class="dropdown-item" href="#">其他問題</a></li>
                    </ul>
                    <button type="button" class="btn btn-success" style="border-radius:0px; padding-left:20px; padding-right:20px;"><i class="fa fa-search fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
