<div class="row">
    <div class="col-12 col-md-3 col-xl-3">
        <p class="text-break"><strong class="fs-3">我們的服務</strong></p>
    </div>
</div>
<div class="row">
    <div class="col-6" style="background-color:white; height: 250px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p class="text-center"><strong class="fs-4">傳統服務</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text-break"><strong class="fs-5" id="workflow-textSize">律師介入</strong></p>
                </div>
                 <div class="col-6">
                    <span class="material-icons-outlined fs-3">timer</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
    </div>
</div>
