<div class="row mx-5">
    <div class="col-3">
        <p class="ourService-4-title pt-5 pb-4"><strong class="fs-1">我們的服務</strong></p>
    </div>
</div>
<div class="row mx-5 justify-content-between">
    <div class="col-5 text-center" style="background-color:white;">
        <div class="ourService-4-box-1-title mt-4"><strong class="fs-3">傳統服務</strong></div>
        <img src="{{ site.theme.link }}/static/pics/ourService-1.png" class="w-75 mb-5 ourService-4-box-1-img">
    </div>
    <div class="col-5 text-center" style="background-color:white;">
        <div class="ourService-4-box-2-title mt-4"><strong class="fs-3">Lecopt</strong></div>
        <div class="ourService-4-box-2-text mt-4"><strong class="fs-4">填寫表格</strong></div>
    </div>
</div>
{#
<div class="row">
    <div class="col-12 col-md-3 col-xl-3">
        <p class="text-break green-bg-title"><strong class="fs-3">我們的服務</strong></p>
    </div>
</div>
<div class="row justify-content-between">
    <div class="col-12 col-md-5 col-xl-5 shadow ourService-box-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p class="text-center white-bg-title"><strong class="fs-4">傳統服務</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text-break white-bg-content"><strong class="fs-5">律師介入</strong></p>
                </div>
                 <div class="col-6">
                    <span class="material-icons-outlined fs-3 white-bg-content">timer</span>
                </div>
            </div>
            <div class="row">   
                <div class="col-6">
                    <div>
                        <div class="list-group list-group-root well">
                            <span class="list-group-item fs-6 white-bg-content ourService-list">Item 1</span>
                            <div class="list-group">   
                                <span class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.1</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.2</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.3</span>
                            </div>
                            <span href="#" class="list-group-item fs-6 white-bg-content ourService-list">Item 2</span>
                            <div class="list-group">
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 2.1</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 2.2</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 2.3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <div class="list-group list-group-root well">
                            <span class="list-group-item fs-6 white-bg-content ourService-list">Item 1</span>
                            <div class="list-group">   
                                <span class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.1</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.2</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.3</span>
                            </div>
                            <span href="#" class="list-group-item fs-6 white-bg-content ourService-list">Item 2</span>
                            <div class="list-group">
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 2.1</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 2.2</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 2.3</span>
                            </div>
                        </div>
                    </div>
                    <span class="btn btn-danger btn-sm ourService-dollar-tag">$100000</span>
                </div>
            </div>
            <div class="row ourService-label-1">
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">help_outline</span>
                    <strong class="fs-5 green-bg-content"> 昂貴的律師費用</strong>
                </div>
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">help_outline</span>
                    <strong class="fs-5 green-bg-content"> 需時</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">help_outline</span>
                    <strong class="fs-5 green-bg-content"> 過分依賴律師</strong>
                </div>
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">help_outline</span>
                    <strong class="fs-5 green-bg-content"> 未必完全了解法律程序</strong>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-5 col-xl-5 shadow ourService-box-2" onclick="location.href = '#';" style="cursor: pointer;"> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <p class="text-center white-bg-title"><strong class="fs-4">Lecopt 服務</strong></p>
                </div>
            <div>
            <div class="row">
                <div class="col-12">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item white-bg-content">填Form</li>
                        <li class="list-group-item white-bg-content">了解基本情況</li>
                        <li class="list-group-item white-bg-content">分析法律可能</li>
                        <li class="list-group-item white-bg-content">解決問題/開展法律程序</li>
                        <li class="list-group-item white-bg-content">準備簡單文件</li>
                    </ol>
                    <span class="btn btn-success btn-sm white-bg-button-color ourService-dollar-tag" style="margin-top:10px;">$100000</span>
                </div>
            </div>
            <div class="row ourService-box-2-col-2">
                <div class="col-6">
                    <p class="text-break white-bg-content"><strong class="fs-5">律師介入</strong></p>
                </div>
                 <div class="col-6">
                    <span class="material-icons-outlined fs-3 white-bg-content">timer</span>
                </div>
            </div>
            <div class="row">   
                <div class="col-6">
                    <div>
                        <div class="list-group list-group-root well">
                            <span class="list-group-item fs-6 white-bg-content ourService-list">Item 1</span>
                            <div class="list-group">   
                                <span class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.1</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.2</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <div class="list-group list-group-root well">
                            <span class="list-group-item fs-6 white-bg-content ourService-list">Item 1</span>
                            <div class="list-group">   
                                <span class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.1</span>
                                <span href="#" class="list-group-item fs-6 white-bg-content ourService-listItems">Item 1.2</span>
                            </div>
                        </div>
                    </div>
                    <span class="btn btn-success btn-sm white-bg-button-color ourService-dollar-tag">$100000</span>
                </div>
            </div>
            <div class="row ourService-label-2">
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">done</span>
                    <strong class="fs-5 green-bg-content"> 自主權</strong>
                </div>
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">done</span>
                    <strong class="fs-5 green-bg-content"> 更了解自身情況</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">done</span>
                    <strong class="fs-5 green-bg-content"> 節省金錢，時間</strong>
                </div>
                <div class="col-6">
                    <span class="material-icons-outlined green-bg-content">done</span>
                    <strong class="fs-5 green-bg-content"> 方便</strong>
                </div>
            </div>
        </div>
    </div>
</div>
#}
