<div class="row">
    <div class="col-5 col-md-3 col-xl-3">
        <p class="text-break"><strong class="fs-3">我們的夥伴</strong></p>
    </div>
    <div class="col-7 col-md-9 col-xl-9">
        <ul id="partner-list">
            <li>> HKUlawSoc</li>
            <li>> CUlawSoc</li>
            <li>> CityUlawSoc</li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top:50px;">
    <div class="col-2"><span class="text-center overflow-auto" id="partner-circle">HKSTP</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto" id="partner-circle">LAWSOC</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto" id="partner-circle">BARSOC</span></div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto" id="partner-circle">HKULawfac</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto" id="partner-circle">CULawfac</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto" id="partner-circle">CityULawFac</span></div>
</div>