<div class="row justify-content-center mx-5">
    <div class="col-3 text-center">
        <p class="partner-8-title pt-5 pb-4"><strong class="fs-1">我們的夥伴</strong></p>
    </div>
</div>
<div class="row mx-5 justify-content-center">
    <div class="col-3 text-center">
        <span style="height:250px; width: 250px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
    </div>
    <div class="col-3 text-center">
        <span style="height:250px; width: 250px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
    </div>
    <div class="col-3 text-center">
        <span style="height:250px; width: 250px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
    </div>
    <div class="col-3 text-center">
        <span style="height:250px; width: 250px; background-color: #bbb; border-radius: 50%; display: inline-block;"></span>
    </div>
</div>
{#
<div class="row">
    <div class="col-6 col-md-3 col-xl-3">
        <p class="text-break"><strong class="fs-3 green-bg-title">我們的夥伴</strong></p>
    </div>
    <div class="col-6 col-md-9 col-xl-9">
        <ul class="partner-list">
            <li class="green-bg-content">> HKUlawSoc</li>
            <li class="green-bg-content">> CUlawSoc</li>
            <li class="green-bg-content">> CityUlawSoc</li>
        </ul>
    </div>
</div>
<div class="row mt-5">
    <div class="col-2"><span class="text-center overflow-auto green-bg-content partner-circle">HKSTP</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto green-bg-content partner-circle">LAWSOC</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto green-bg-content partner-circle">BARSOC</span></div>
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto green-bg-content partner-circle">HKULawfac</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto green-bg-content partner-circle">CULawfac</span></div>
    <div class="col-2"></div>
    <div class="col-2"><span class="text-center overflow-auto green-bg-content partner-circle">CityULawFac</span></div>
</div>
#}