<div class="row">
     <div class="col-12 col-md-4 col-xl-3">
        <p class="text-break"><strong class="fs-3 green-bg-title"><u>資訊可靠性</u></strong>&nbsp;
        <span class="material-icons-outlined fs-2 green-bg-title">task_alt</span></p>
    </div>
    <div class="col-12 col-md-8 col-xl-9">
        <p class="text-break fs-4 green-bg-content">
            <strong>Lecopt 所提供之資訊來源均取自香港法例及案例，並由香港執業律師進行審查</strong>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-lg" onclick="location.href = '#';">
                &nbsp;&nbsp;&nbsp;<strong>關於我們</strong>&nbsp;&nbsp;&nbsp;
            </button>
        </p>
    <div>
</div>
