
<div class="row mx-5">
    <div class="col-6 my-5">
        <p class="text-break security-6-text"><strong class="fs-4"><u>注重網絡安全</u></strong>
        <div class="security-6-button-div">
            <button type="button" id="signupBtn" class="px-4 py-1 security-6-button">
                <strong>
                    <span>會員登記</span>
                </strong>
            </button>
        </div>
    </div>
    <div class="col-6 my-5">
        <img src="{{ site.theme.link }}/static/pics/security-1.png" class="w-50 h-100" style="float:right;">
    </div>
</div>
<script>
    $( "#signupBtn" ).click(function() {
        window.location.replace('http://localhost/signup/')
    });
</script>
{#
<div class="row">
    <div class="col-12 col-md-8 col-xl-9">
        <p class="text-break fs-4 green-bg-content">
            <strong>Lecopt 會為會員提供資料保存服務，我們採用雙重認證技術及專業防火牆，以提升網絡安全性</strong>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-lg" onclick="location.href = '/wordpress/signup/';">
                &nbsp;&nbsp;&nbsp;<strong>會員登記</strong>&nbsp;&nbsp;&nbsp;
            </button>
        </p>
    </div>
    <div class="col-12 col-md-4 col-xl-3 security-position">
        <p class="text-break"><strong class="fs-3 green-bg-title"><u>注重網絡安全</u></strong>&nbsp;
            <span class="material-icons-outlined fs-2 green-bg-title">https</span>
        </p>
    <div>
</div>
#}